<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zeropos.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <zeropos.Settings>
            <setting name="database_file" serializeAs="String">
                <value>D:/.PHONGPHAT/visual_studio/zeropos/src/database/main_database.db</value>
            </setting>
            <setting name="shop_name" serializeAs="String">
                <value>ZEROPOS'SHOP</value>
            </setting>
            <setting name="shop_address" serializeAs="String">
                <value>11/13 บ้านหนองงิ้ว นางรอง นางรอง บุรีรัมย์ 31110</value>
            </setting>
            <setting name="tax_id" serializeAs="String">
                <value>1234567891234</value>
            </setting>
            <setting name="bill_footer" serializeAs="String">
                <value>*เราได้บันทึกข้อมูลของคุณไว้แล้ว*ขอบคุณที่ใช้บริการ</value>
            </setting>
            <setting name="printer_name" serializeAs="String">
                <value />
            </setting>
            <setting name="auto_bill_print" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shop_phone" serializeAs="String">
                <value />
            </setting>
            <setting name="bill_prefix" serializeAs="String">
                <value>ZR</value>
            </setting>
            <setting name="logo_path" serializeAs="String">
                <value>D:\.PHONGPHAT\visual_studio\zeropos\src\logo.png</value>
            </setting>
        </zeropos.Settings>
    </userSettings>
</configuration>